.body-main > form {
  height: min-height;
  display: grid;
  grid-template-areas:
    "invoice"
    "inputs"
    "button";
  grid-template-rows: 1fr 8fr 1fr;
  gap: 10px;
}

.invoice {
  grid-area: invoice;
}

.invoice > label {
  width: min-content;
}
