.header {
  height: 5vh;
}

.body {
  height: 95vh;
  display: grid;
  grid-template-areas:
    "body-top body-top"
    "body-side body-main";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 8fr;
  column-gap: 10px;
  row-gap: 10px;
  padding: 50px;
  box-sizing: border-box;
}

.body-top {
  grid-area: body-top;
  background-color: green;
}

.body-side {
  grid-area: body-side;
  background-color: orange;
}

.body-main {
  grid-area: body-main;
  background-color: yellow;
}
